body {
	background-color: rgb(34, 36, 41);
	color: white;
}

.btn {
	border: white solid thin;
	background-color: rgb(66, 66, 66);
}

button,
.btn-locked {
	border-color: white;
	background-color: rgb(34, 36, 41);
	color: white;
}

.btn-rebirth-locked {
	background-color: rgb(75, 0, 75);
}

.btn-rebirth-unbought {
	background-color: rgb(125, 0, 125);
}

.btn-rebirth-bought {
	background-color: rgb(175, 0, 175);
}

.btn-unbought {
	background-color: rgb(66, 66, 66);
}

.btn-bought {
	background-color: rgb(99, 99, 99);
}

.btn-creg-bought,
.btn-creg-unbought,
.btn-creg-locked {
	color: black;
}

.btn-ath-bought {
	background-color: rgb(120, 120, 255);
}

.btn-ath-unbought {
	background-color: rgb(90, 90, 255);
}

.btn-ath-locked {
	background-color: rgb(60, 60, 255);
}

a {
	color: rgb(100, 100, 255);
}